In [1]:
import random 
import numpy as np
import pandas as pd

In [2]:
# waiter_id = pd.DataFrame(np.arange(1,1001), columns = ['Waiter_id'])
# extra_working_hours = pd.DataFrame(np.random.randint(1,5,1000), columns = ['Extra_Working_hours'])
# customer_satisfaction_score = pd.DataFrame(np.random.randint(1,5,1000), columns = ['customer_satisfaction_score'])
# table_served = pd.DataFrame(np.random.randint(300,500,1000), columns = ['table_served'])
# table_turnover_time = pd.DataFrame(np.random.randint(10,40,1000), columns = ['table_turnover_time'])
# sales_revenue = pd.DataFrame(np.random.randint(1000,5000,1000), columns = ['sales_revenue'])

In [3]:
# waiter_df = pd.concat([waiter_id, extra_working_hours, customer_satisfaction_score, table_served, table_turnover_time, 
#                       order_accuracy_score, sales_revenue], axis=1)

In [4]:
# waiter_df

In [5]:
# waiter_df.to_csv('Waiter_reward.csv', index=False)

In [6]:
# df = pd.read_csv('Waiter_reward.csv')

In [7]:
# df.head()

In [8]:
# quantiles = df.iloc[:,3:].quantile(q=[0.25, 0.5, 0.75])
# quantiles= quantiles.to_dict()

In [9]:
# quantiles

In [10]:
# def table_scoring(x, p, d):
#     if x <= d[p][0.25]:
#         return 1
#     elif x <=d[p][0.5]:
#         return 2
#     elif x <= d[p][0.75]:
#         return 3
#     else:
#         return 4

# def table_turnover_score(x, p, d):
#     if x <= d[p][0.25]:
#         return 4
#     elif x <=d[p][0.5]:
#         return 3
#     elif x <= d[p][0.75]:
#         return 2
#     else:
#         return 1
    
# def order_accuracy_score(x, p, d):
#     if x <= d[p][0.25]:
#         return 1
#     elif x <=d[p][0.5]:
#         return 2
#     elif x <= d[p][0.75]:
#         return 3
#     else:
#         return 4
    
# def sales_revenue_score(x, p, d):
#     if x <= d[p][0.25]:
#         return 1
#     elif x <=d[p][0.5]:
#         return 2
#     elif x <= d[p][0.75]:
#         return 3
#     else:
#         return 4

In [11]:
# df['table_served_scoring'] = df['table_served'].apply(table_scoring, args=('table_served', quantiles))
# df['table_turnover_scoring'] = df['table_turnover_time'].apply(table_turnover_score, args=('table_turnover_time', quantiles))
# df['order_accuracy_scoring'] = df['order_accuracy_score'].apply(order_accuracy_score, args=('order_accuracy_score', quantiles))
# df['sales_revenue_scoring'] = df['sales_revenue'].apply(sales_revenue_score, args=('sales_revenue', quantiles))
# df.head()

In [12]:
# df.drop(['Waiter_id', 'table_served', 'table_turnover_time', 'order_accuracy_score', 'sales_revenue'], axis=1, inplace=True)

In [13]:
# df.head()

In [14]:
# df['Total_score'] = df[['Extra_Working_hours','customer_satisfaction_score','table_served_scoring','table_turnover_scoring',
#                        'order_accuracy_scoring','sales_revenue_scoring']].sum(axis=1)

In [15]:
# df.head()

In [16]:
# df['Total_score'].to_csv('Total_score.csv', index=False)

In [1]:
import random 
import numpy as np
import pandas as pd

In [17]:
waiter_id = pd.DataFrame(np.arange(1,1001), columns = ['Waiter_id'])
extra_working_hours = pd.DataFrame(np.random.randint(0,5,1000), columns = ['Extra_Working_hours'])
customer_satisfaction_score = pd.DataFrame(np.random.randint(1,5,1000), columns = ['customer_satisfaction_score'])
table_served = pd.DataFrame(np.random.randint(300,500,1000), columns = ['table_served'])
table_turnover_time = pd.DataFrame(np.random.randint(180,600,1000), columns = ['table_turnover_time'])
sales_revenue = pd.DataFrame(np.random.randint(1000,5000,1000), columns = ['sales_revenue'])

In [18]:
waiter_df = pd.concat([waiter_id, extra_working_hours, customer_satisfaction_score, table_served, 
                       table_turnover_time, sales_revenue], axis=1)

In [19]:
def table_served(x):
    if x == 0:
        return np.random.randint(70,80)
    elif x == 1:
        return np.random.randint(80,90)
    elif x == 2:
        return np.random.randint(90,100)
    elif x == 3:
        return np.random.randint(100,120)
    elif x == 4:
        return np.random.randint(120,150)
    else :
        return np.random.randint(150,200)
    
def sales_revenue(x):
    if x == 0:
        return np.random.randint(4000,4200)
    elif x == 1:
        return np.random.randint(4200,4500)
    elif x == 2:
        return np.random.randint(4500,4800)
    elif x == 3:
        return np.random.randint(4800,5200)
    elif x == 4:
        return np.random.randint(5200,5600)
    else :
        return np.random.randint(5600,6100)

In [20]:
waiter_df['table_served'] = waiter_df['Extra_Working_hours'].apply(table_served)
waiter_df['sales_revenue'] = waiter_df['Extra_Working_hours'].apply(sales_revenue)

In [21]:
waiter_df.head()

,Waiter_id,Extra_Working_hours,customer_satisfaction_score,table_served,table_turnover_time,sales_revenue
0,1,1,4,89,222,4446
1,2,3,1,110,278,5098
2,3,4,4,144,278,5550
3,4,2,1,95,479,4579
4,5,0,1,79,253,4137

In [22]:
waiter_df.to_csv('Waiter_reward.csv', index=False)

In [23]:
quantiles = waiter_df.iloc[:,3:].quantile(q=[0.25, 0.5, 0.75])
quantiles= quantiles.to_dict()

In [24]:
quantiles

{'table_served': {0.25: 83.0, 0.5: 95.0, 0.75: 115.0},
 'table_turnover_time': {0.25: 287.0, 0.5: 395.0, 0.75: 498.25},
 'sales_revenue': {0.25: 4288.75, 0.5: 4659.5, 0.75: 5084.5}}

In [25]:
def table_scoring(x, p, d):
    if x <= d[p][0.25]:
        return 1
    elif x <=d[p][0.5]:
        return 2
    elif x <= d[p][0.75]:
        return 3
    else:
        return 4

def table_turnover_score(x, p, d):
    if x <= d[p][0.25]:
        return 4
    elif x <=d[p][0.5]:
        return 3
    elif x <= d[p][0.75]:
        return 2
    else:
        return 1
    
def sales_revenue_score(x, p, d):
    if x <= d[p][0.25]:
        return 1
    elif x <=d[p][0.5]:
        return 2
    elif x <= d[p][0.75]:
        return 3
    else:
        return 4

In [26]:
waiter_df['table_served_scoring'] = waiter_df['table_served'].apply(table_scoring, args=('table_served', quantiles))
waiter_df['table_turnover_scoring'] = waiter_df['table_turnover_time'].apply(table_turnover_score, args=('table_turnover_time', quantiles))
waiter_df['sales_revenue_scoring'] = waiter_df['sales_revenue'].apply(sales_revenue_score, args=('sales_revenue', quantiles))
waiter_df.head()

,Waiter_id,Extra_Working_hours,customer_satisfaction_score,table_served,table_turnover_time,sales_revenue,table_served_scoring,table_turnover_scoring,sales_revenue_scoring
0,1,1,4,89,222,4446,2,4,2
1,2,3,1,110,278,5098,3,4,4
2,3,4,4,144,278,5550,4,4,4
3,4,2,1,95,479,4579,2,2,2
4,5,0,1,79,253,4137,1,4,1

In [27]:
waiter_df.drop(['Waiter_id', 'table_served', 'table_turnover_time', 'sales_revenue'], axis=1, inplace=True)

In [28]:
waiter_df['Total_score'] = waiter_df[['Extra_Working_hours','customer_satisfaction_score','table_served_scoring',
                                      'table_turnover_scoring','sales_revenue_scoring']].sum(axis=1)

In [29]:
waiter_df.head()

,Extra_Working_hours,customer_satisfaction_score,table_served_scoring,table_turnover_scoring,sales_revenue_scoring,Total_score
0,1,4,2,4,2,13
1,3,1,3,4,4,15
2,4,4,4,4,4,20
3,2,1,2,2,2,9
4,0,1,1,4,1,7

In [30]:
waiter_df['Total_score'].max()

20

In [31]:
waiter_df['Total_score'].min()

4

In [32]:
quantiles_total = waiter_df.iloc[:,-1].quantile(q=[0.25, 0.5, 0.75])
quantiles_total = quantiles_total.to_dict()

In [33]:
quantiles_total

{0.25: 9.0, 0.5: 12.0, 0.75: 15.0}

In [34]:
def level(x):
    if x<quantiles_total[0.25]:
        return "Bronze"
    elif x<quantiles_total[0.5]:
        return "Silver"
    elif x<quantiles_total[0.75]:
        return "Gold"
    else:
        return "Platinum"

In [35]:
waiter_df['Level'] = waiter_df['Total_score'].apply(level )

In [36]:
waiter_df.head()

,Extra_Working_hours,customer_satisfaction_score,table_served_scoring,table_turnover_scoring,sales_revenue_scoring,Total_score,Level
0,1,4,2,4,2,13,Gold
1,3,1,3,4,4,15,Platinum
2,4,4,4,4,4,20,Platinum
3,2,1,2,2,2,9,Silver
4,0,1,1,4,1,7,Bronze

In [37]:
waiter_df['Level'].to_csv('Level.csv', index=False)