In [1]:
import random 
import numpy as np
import pandas as pd

In [7]:
working_hourse = pd.DataFrame(np.random.randint(0,5,1000), columns=['Extra_working_hourse'])
performence_rating = pd.DataFrame(np.random.randint(1,6,1000), columns=['performence_rating'])
total_task = pd.DataFrame(np.random.randint(100,200,1000), columns=['total_task'])
table_served = pd.DataFrame(np.random.randint(300,800,1000), columns=['tables_served'])
order_taken = pd.DataFrame(np.random.randint(300,800,1000), columns=['order_taken'])

In [8]:
df = pd.concat([working_hourse,performence_rating,total_task,table_served,order_taken], axis=1)

In [9]:
df.head()

,Extra_working_hourse,performence_rating,total_task,tables_served,order_taken
0,3,2,188,452,628
1,3,5,198,726,451
2,0,1,130,539,397
3,2,4,155,560,750
4,1,2,162,392,406

In [5]:
quantiles = df.iloc[:,[2,3,5]].quantile(q=[0.25, 0.5, 0.75])
quantiles= quantiles.to_dict()

In [6]:
quantiles

{'tables_served': {0.25: 424.75, 0.5: 552.0, 0.75: 671.25},
 'order_taken': {0.25: 438.5, 0.5: 559.0, 0.75: 682.0},
 'total_delivery': {0.25: 75.0, 0.5: 101.0, 0.75: 124.0}}